
header {
    height: 80px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    
}

.dsmovie-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.dsmovie-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

.film{
    font-size: 48px;
    animation: film 2s infinite;
}
@keyframes film {
    0% {
      /* transform: scale(1); */
      filter: brightness(50%);
    }
    100% {
      /* transform: scale(1.1); */
      filter: brightness(200%);
    }
  }

.caixan {
    width: 100vw;
    height: 20px;
    background-color: black;
    border: 0;
    display: flex;
    justify-content: space-between;
}

.parallelogram1n {
    margin-left: 5%;
	width: 40px;
	height: 20px;
	transform: skew(40deg);
	background:#604D53;
}

.parallelogram2n {
	width: 40px;
	height: 20px;
	transform: skew(40deg);
	background:#604D53;
}

.parallelogram3n {
	width: 40px;
	height: 20px;
	transform: skew(40deg);
	background:#604D53;
}
.parallelogram4n {
    margin-right: 75%;
	width: 40px;
	height: 20px;
	transform: skew(40deg);
	background:#604D53;
}